* {
    margin:0;
    padding:0;
}

body {
    background-image: url("../images/background.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin:0;
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 57, 58, 0.6);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color:rgb(224, 65, 139);
}

.container {
    width: 80%;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: rgba(27, 25, 27, 0.6);
    font-size: 2rem;
    color:rgb(245, 245, 245);

}

#title-box {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color:rgba(245, 243, 243, 0.6);
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

#rules-content {
    text-align: center;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Footer */

  footer {
    position:fixed;
    bottom: 15px;
    color: white;
    letter-spacing: 0.2rem;
    
  }